body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

body footer {
    text-align: left;
    margin-left: 20px;
    margin-top: 100px;
}

.navbar a {
    color: seashell;
    text-decoration: underline;
}

.navbar-toggler-icon {
    background-color: seashell;
}

a:hover, a:active, a:link, a:focus { 
    color: seashell !important; 
}

.container-fluid .overlay {
    position: absolute;
    top:40%;
    left:0;
    width:100%;
    min-height:15%;
    background-color: black;
    color: seashell;
}

.container-fluid {
    display: inline-block;
    position: relative; 
}


.container-fluid img {
    display: block;
    max-width:100%;
 }
 
 .carousel-caption {
    top: 0;
    bottom: auto;
    margin-top: 50px;
    font-weight: bold;
}

.col-3 {
    position: relative;
    padding: 10px;
    background-color: black;
    transform: translate( 0%, -225%);
    height: 225px;
    width: 325px;
    line-height: 40px;

}

@media only screen and (min-width: 992px) {
    .navbar {
      flex-direction: column;
    }
  }

  @media only screen and (min-width: 992px) {
    .navbar .nav-item {
      padding: 0.5em 1em;
    }
  }

